.navbar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #F5D7EE; /* Soft pink background */
  color: #000000; /* For contrasting text color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Playfair Display', serif; /* Elegant font for branding */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 50px;
  transition: transform 0.3s;
}

.navbar-logo:hover {
  transform: scale(1.1);
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav a,
.logout-button {
  margin-left: 20px;
  font-weight: 500;
  color: #333;
  text-transform: none; /* Keep text in its original form */
  transition: color 0.3s, background-color 0.3s;
  font-family: 'Roboto', sans-serif; /* Ensure consistency with other text */
}

.navbar-nav a:hover,
.logout-button:hover {
  color: #000;
  background-color: rgba(234, 88, 157, 0.2); /* Light pink hover effect */
  border-radius: 5px;
  padding: 5px 10px;
}

.logout-button {
  border: none;
  background: none;
  cursor: pointer;
}
