<mat-toolbar color="primary" class="navbar-toolbar">
  <div class="navbar-brand">
    <a routerLink="/">
      <img src="assets/LOGO-SWAN-LAKE.jpg" alt="Swan Lake Nails Logo" style="height: 50px;">
    </a>
  </div>
  <span class="spacer"></span>
  <div class="navbar-nav">
    <a mat-button routerLink="/appointment" routerLinkActive="active">My Appointments</a>
    <a mat-button routerLink="/appointment-status" routerLinkActive="active">Appointment Status</a>
    <a mat-button routerLink="/feedback" routerLinkActive="active">Feedback</a>
  </div>
</mat-toolbar>
