<mat-toolbar color="primary" class="navbar-toolbar">
  <div class="navbar-brand">
    <a>
      <img src="assets/LOGO-SWAN-LAKE.jpg" alt="Swan Lake Nails Logo" class="navbar-logo">
    </a>
  </div>
  <div class="navbar-nav">
    <a mat-button routerLink="/appointment" routerLinkActive="active">Terminbuchung</a>
    <a mat-button routerLink="/appointment-status" routerLinkActive="active">Meine Termine</a>
    <a mat-button routerLink="/feedback" routerLinkActive="active">Feedback</a>
    <button mat-button class="logout-button" (click)="logout()">Abmelden</button>
  </div>
</mat-toolbar>
