<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login - Swan Lake Nails</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet"
  />
</head>
<body>
<div class="login-container">
  <div class="login-form">
    <h2>Anmeldung</h2>
    <h3>zum Swan Member <img src="assets\swan-icon.png" alt="Swan Icon"></h3>
    <form (ngSubmit)="onLogin()">
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>

      <label for="password">Passwort:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>

      <button type="submit">Bestätigen</button>
    </form>
    <p>Noch kein Swan Member? <a [routerLink]="['/register']">Jetzt Registrieren</a></p>
    <button class="back-button" (click)="navigateToHome()">Zurück zu Home</button>
  </div>
</div>
</body>
</html>
