body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h2 {
  text-align: center;
  color: #420039;
  font-family: 'Playfair Display', serif;
}

h3 {
  text-align: center;
  color: #420039;
  font-family: 'Playfair Display', serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3 img {
  margin-left: 10px;
  width: 24px;
  height: auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  color: #333;
}

input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #e91e63;
  outline: none;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(234, 88, 157);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

button[type="submit"]:hover {
  background-color: #c2185b;
  transform: scale(1.05);
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(234, 88, 157, 0.68);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.back-button:hover {
  background-color: #ea3e90;
  transform: scale(1.05);
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #e91e63;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #c2185b;
}
