@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.container {
  display: flex;
  justify-content: center; /* Platzierung der Elemente nebeneinander */
  align-items: center; /* Elemente vertikal zentrieren */
  padding: 80px;
  font-family: 'Playfair Display', serif; /* Setzen Sie die Schriftart global */
}

.text {
  flex: 2; /* Erhöht die Flex-Eigenschaft für den Textbereich */
  max-width: 1000px; /* Erhöht die maximale Breite für den Textbereich */
  text-align: left; /* Text linksbündig */
  margin-top: 150px; /* Abstand zum oberen Rand */
}

.slogan h1 {
  color: #d29db0;
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif; /* Setzen Sie die Schriftart global */
}

.slogan p {
  color: #333;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.register-button {
  font-size: 1.1rem;
  padding: 12px 24px;
  background-color: #f3bfd9;
  color: #262626;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-button:hover {
  background-color: #ffbad5;
  transform: scale(1.05);
}

.carousel {
  flex: 1;
  max-width: 500px; /* Breite des Karussells */
  width: 100%;
  height: 300px; /* Feste Höhe für das Karussell */
  margin-top: 10px; /* Positioniert das Karussell näher an den Text */
  margin-left: 20px; /* Abstand zum Text */
  position: relative; /* Positionierung des Karussells */
}
.carousel-container {
  width: 100%;
  height: 100%; /* Stellt sicher, dass das Karussell die feste Höhe ausfüllt */
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}








