<app-navbar></app-navbar>
<div class="container fade-in">
  <div class="text">
    <div class="slogan">
      <h1>Eleganz bis in die Fingerspitzen.</h1>
      <p>
        Willkommen bei Swan Lake Nails – Ihrem Ort für unvergleichliche Eleganz und Schönheit. Wir bieten Ihnen einzigartige Nageldesigns, die Ihre Persönlichkeit zum Strahlen bringen. Tauchen Sie ein in eine Welt, wo jede Maniküre ein Meisterwerk und jede Behandlung eine Auszeit vom Alltag ist.
      </p>
      <button class="register-button" (click)="navigateToLogin()">Melde dich jetzt an und buche deinen Termin</button>
    </div>
  </div>
  <div class="carousel">
    <app-photo-gallery></app-photo-gallery>
  </div>
</div>
