.carousel-container {
  width: 100%;
  height: 200%; /* Stellt sicher, dass das Karussell die feste Höhe ausfüllt */
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.carousel-slide {
  position: absolute; /* Positionierung innerhalb des Karussells */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Übergangseffekt */
}

.carousel-slide.active {
  opacity: 1;
}

.carousel-slide img {
  width: 100%;
  height: 100%; /* Stellt sicher, dass das Bild die feste Höhe ausfüllt */
  object-fit: cover; /* Stellt sicher, dass das Bild das Karussell proportional ausfüllt */
  border-radius: 10px;
}



