@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.employee-view-container {
  padding: 20px;
  background-color: #fdfdfd;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;

  animation: fadeIn 1s ease-in-out; /* Fade-In-Effekt anwenden */
}

h2 {
  font-family: 'Playfair Display', serif; /* Setzen Sie die Schriftart global */
  color: #ad1457;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #f8bbd0;
  border-radius: 5px;
}

.employee-view {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
}
