.appointment-container {
  padding: 20px;
  background-color: #f6e3eb;
  border-radius: 10px;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-family: 'Playfair Display', serif;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1, h2 {
  color: #ad1457;
  text-align: center;
  margin-bottom: 20px;
}

select, .time-slots button, .employee-list div {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(135deg, #ad1457, #e91e63);
  color: white;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.time-slots button.selected, .employee-list div.selected {
  background: linear-gradient(135deg, #8e0057, #c2185b);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

select:hover, .time-slots button:hover, .employee-list div:hover {
  background: linear-gradient(135deg, #e91e63, #ff4081);
}

button {
  width: auto;
  background: linear-gradient(135deg, #ad1457, #e91e63);
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
  font-family: 'Arial', sans-serif;
}
