.appointment-status-container {
  padding: 20px;
  background-color: #f6e3eb;
  border-radius: 10px;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Playfair Display', serif;
  animation: fadeIn 1s ease-in-out;
}

h2 {
  color: #ad1457;
  text-align: center;
  margin-bottom: 20px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ad1457;
  color: white;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
}

.filter-buttons button:hover {
  background-color: #e91e63;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

.appointment {
  padding: 15px;
  background-color: #f8bbd0;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.appointment:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.appointment p {
  margin: 5px 0;
  font-family: 'Arial', sans-serif;
  color: #4a4a4a;
}

.appointment p strong {
  color: #ad1457;
}
